@model KIS_Core.Web.Models.LibraryResultViewModel

@*<script type="text/javascript">
    $(document).ready(function () {
        var cookie = document.getElementById("ShowSearchFeedback").value;
        if (cookie == "yes") {
            ShowFeedbackSearch();
        }
    });

</script>
*@

<div id="libraryresults-section">

    <input type="hidden" id="ShowSearchFeedback" value="@ViewBag.ShowSearchFeedback" />
    <!-- Top Pill Bar -->
    <div class="row">
        <div id="filter-section" class="d-flex border border-top-0 p-3 p-sm-10 bg-light">
            <div class="col-lg-11 col-sm-12 chip-set">
                @if (Model.PillTabs != null)
                {
                    foreach (var tabs in Model.PillTabs)
                    {
                        if (tabs.types != "sorting")
                        {
                            <div class="chip visually" id="chipset-specialty">
                                <span id="chipset-specialty-inner">@tabs.value</span>
                                <a id="@tabs.value" onclick="RemoveFilter('@tabs.types', this)">
                                    <i class="chip-close-icon material-icons">cancel</i>
                                </a>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-lg-1 col-sm-12">
                <div class="btn-group">
                    <button id="btnLibSort" type="button" class="btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        @ViewBag.SortSelection
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="sort-menu-list-Newest" class="dropdown-item" onclick="SaveFilter('sorting', this)">Newest</a></li>
                        <li><a id="sort-menu-list-Oldest" class="dropdown-item" onclick="SaveFilter('sorting', this)">Oldest</a></li>
                    </ul>
                </div>
                <br />
                <span style="font-size:smaller">@Model.Result.Count().ToString() Documents</span>
            </div>
        </div>
    </div>

    <!-- Result Container -->
    <div class="pb-2">
        <div class="row">
            @{
                if (Model.Result.Count > 0)
                {
                    foreach (var i in @Model.Result)
                    {
                        if (i.DocumentTitle != "")
                        {
                            <div class="col-lg-4 col-sm-12 pb-4">
                                <div class="cards-wrapper" style="min-width:251px !important;">
                                    <div class="card">
                                        @{
                                            if (i.InsightCategory.Count > 0)
                                            {
                                                switch (i.InsightCategory[0].ToLower())
                                                {
                                                    case "category insights":
                                                        <img src="~/assets/img/banners_CategoryInsight.png" class="card-img-top" alt="...">
                                                        break;
                                                    case "conversion insights":
                                                        <img src="~/assets/img/banners_ConversionInsight.png" class="card-img-top" alt="...">
                                                        break;
                                                    case "evidence insights":
                                                        <img src="~/assets/img/banners_EvidenceInsight.png" class="card-img-top" alt="...">
                                                        break;
                                                    case "physician insights":
                                                        <img src="~/assets/img/banners_PhysicianInsight.png" class="card-img-top" alt="...">
                                                        break;
                                                    case "product insights":
                                                        <img src="~/assets/img/banners_ProductInsight.png" class="card-img-top" alt="...">
                                                        break;
                                                    case "supply disruption":
                                                        <img src="~/assets/img/banners_SupplyDisruption.png" class="card-img-top" alt="...">
                                                        break;
                                                    case "toolkits and checklists":
                                                        <img src="~/assets/img/banners_Toolkits.png" class="card-img-top" alt="...">
                                                        break;
                                                    default:
                                                        <img src="~/assets/img/placeholder1.png" class="card-img-top" alt="...">
                                                        break;
                                                }
                                            }
                                            else
                                            {
                                                <img src="~/assets/img/placeholder1.png" class="card-img-top" alt="...">
                                            }
                                        }
                                        <div class="card-body pb-4">
                                            <h6 class="card-title" style="height:50px !important;">@i.DocumentTitle</h6>
                                            @*@{ foreach (var x in i.Specialty)
                            {
                            <span>@x | </span>
                            }
                            }*@
                                            @{
                                                var hyperlink = ViewBag.DocumentPath + i.Link + ViewBag.key;
                                            }

                                            @if (ViewBag.User == null)
                                            {
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">View</button>
                                            }
                                            else
                                            {
                                                <a id="@i.Id" href="@hyperlink" class="btn btn-primary" target="_blank"
                                                   onclick="ShowFeedback('@i.Id', '@i.DocumentTitle' )">View</a>
                                                //onclick="StoreDocumentClick(this,'@i.DocumentTitle' )"
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    };
                }
                else
                {
                    <div class="col-lg12 text-center vertical-centers mt-5">
                        <img src="~/Assets/img/128px_nofilesfound.png" style="width:150px" />
                        <h4>Sorry, no results were found.</h4>
                        <span>Please click the button and let us know what you need. </span>
                        <br /><br />
                        <a class="btn btn-lg btn-primary" href="https://app.smartsheet.com/b/form/0d5a508cd8234c9987958dde5318cf93 " target="_blank">Submit a question</a>
                    </div>

                }
            }
        </div>
    </div>

</div>

@*
@Html.Partial("_feedback")
@Html.Partial("_feedbackSearch")

*@